@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*colors
#0d0d0d
#f2f2f2
#7abfbf
rgba(122, 191, 191, .5)
#eb5428
*/

html {
	background-color: rgba(122, 191, 191, .5);
}
body {
	width: 414px;
	background-color: #f2f2f2;
	margin: 0 auto;
	font-family: 'Montserrat';
}
h1 {
	text-align: center;
	padding-top: 200px;
	font-size: 40px;
	font-family: 'Bebas Neue';
}
menu{
	height: 70px;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	
}
menu li{
    font-family: 'Bebas Neue';
	flex: 410px;
	font-size: 16px;
	list-style: none;
}
li a{
	font-family: 'Bebas Neue';
    text-decoration: none;
    color: #eb5428;
}
nav a{
    font-size: 20px;
}
.categories {
    max-height: 0;
    overflow: hidden;
}
#dropdown:checked ~ ul {
    max-height: 500px;
}
.dropdown{
    display: none;
}
menu{
    border-color: #eb5428;
    border-width: 2px;
}
menu a {
	display: block;
	position: relative;
	top:20px;
	left: 22px;;
	text-decoration: none;
	color: #eb5428;
	text-align: center;
	font-size: 20px;
}
menu svg{
	position:relative;
	bottom: 30px;
	right: 45px;
	
}
img.taco{
	width: 100%;
}
header p{
	padding-top: 1rem;
	padding-left: 10px;
	font-size: 16px;
	line-height: 1.5rem;
}
h2{
	font-size: 30px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	font-family: 'Bebas Neue';
}
h3{
	font-size: 25px;
	font-family: 'Bebas Neue';
}
.details div{
	display: grid;
	grid-template-rows: .1fr;
	justify-content: start;
	align-items: center;
}
.details dl{
	padding-left: 1rem;
}
.details dt{
        font-weight: bold;
	
}
dt{
	grid-column-start: 1;
	font-size: 16px;
}
dl{
    line-height: 1.5rem;
}
.details dd{
	grid-column-start: 2;
	font-size: 16px;
	padding-left: 10px;

}
ul, ol{
	padding-left: 1.5rem;
	line-height: 1.5rem;
	padding-bottom: 1rem;
}
.directions ul{
	list-style:square;
}
ol{
	list-style-type: style;
	padding-right: 1rem;
}
section.dishes{
	background-color: #7abfbf;

}
footer img{
	width: 100%;
}
footer{
	background-color: white;
	font-family: 'Bebas Neue';
}

.dishes img{
	display: block;
	position: relative;
	padding-left: 10px;
	width: 80%;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.rice h3, .rice p, .rice dl{
    grid-column-start: 2;
}
.rice{
    display: grid;
    grid-template-rows: .1fr .1fr .1fr .1fr;
    grid-template-columns: 1fr 2.5fr;
    padding-bottom: 10px;
}
.salsa h3, .salsa p, .salsa dl{
    grid-column-start: 2;
}
.salsa{
    display: grid;
    grid-template-rows: .1fr .1fr .1fr .1fr;
    grid-template-columns: 1fr 2.5fr;
    padding-bottom: 10px;
}
.guac h3, .guac p, .guac dl{
    grid-column-start: 2;
}
.guac{
    display: grid;
    grid-template-rows: .1fr .1fr .1fr .1fr;
    grid-template-columns: 1fr 2.5fr;
    padding-bottom: 10px;
}
.tortillas h3, .tortillas p, .tortillas dl{
    grid-column-start: 2;
}
.tortillas{
    display: grid;
    grid-template-rows: .1fr .1fr .1fr .1fr;
    grid-template-columns: 1fr 2.5fr;
    padding-bottom: 10px;
}
.main-nav, .dropdown{
    display: none;
}
.menu-icon{
    font-family: 'Bebas Neue';
    position: absolute;
    left: 2rem;
    top: 4.25rem;
    font-size: 20px;
}
.hamburger{
    position: absolute;
	bottom: 2rem;
    right: 0;
    z-index:3;
}
/*.nav2 label{
	position: relative;
	top: 45px;
}*/
.nav2{
	background: #ffffff;
    position: fixed;
	height: 60px;
	width: 300px;
	top: 0;
	padding-bottom: 40px;
	box-shadow: 1px 3px 4px rgba(132, 127, 127, 0.8);
    
}
.nav2 a{
	box-shadow: 1px 3px 4px rgba(132, 127, 127, 0.8);
}
nav a img{
    display: none;
}
a:hover{
	background-color: #eb5428;
	stroke: #ffffff;
	color: #ffffff;
}
a:hover svg{
	stroke: #ffffff;
}
.categories li{
    display: none;
}
.search{
    display: none;
}
.avatar{
    position: absolute;
    top: 0;
	text-align: center;
	background-color: #ffffff;
	display: block;
	left: 305px;
	width: 109px;
	height: 30px;
	padding-top: 70px;
	bottom: 28.7rem;
    text-decoration: none;
    color: #0d0d0d;
    font-family: 'Bebas Neue';
    
}
.nav2 a{
    top: 0;

}
.avatar svg{
	position: absolute;
    top: 0;
    padding-top: 20px;
    right:2.25rem;

}
.spatula-knife{
    background: #eb5428;
    top: 0;
	width: 200px;
	left: 105px;
	height: 100px;
    position: absolute;
    bottom: 28.7rem;
}
.spatula-knife svg{
	position: absolute;
    left: 4rem;
	top: 20px;
}

button{
    background-color: #eb5428;
    border: none;
    position: relative;
    top: 14px; 
    right: 5px;
}
.search-container{
    position: relative;
    border-color: #eb5428;
    z-index: 2;
    bottom: 160rem;
    left: 2rem;

}
input{
    width: 17.5rem;
    height: 40px;
    position: relative;
    border: solid 2px #eb5428;
}
footer nav{
	width: 400px;
}
footer{
	padding-top: 50px;
}
footer ul{
	display: flex;
	flex-direction: row;
}
footer svg{
	position: relative;
	bottom: 4rem;
	left: 7px;
}
footer img{
    width: 50%;
    position: relative;
    left: 6.5rem;
	bottom: 60px;
}
footer h3{
    display: none;
}
footer p{
    text-align: center;
    position: relative;
    top: 13rem;
}
@media screen and (min-width:768px) {
body {
	width: 768px;
}
.nav2{
    display: block;
	width: 768px;
	height: 150px;
}
.nav2 a{
	box-shadow: none;
}
.avatar{
	bottom: 210px;
	left: 659px;
	z-index: -1;
}
.menu-icon{
	display: none;
}
.spatula-knife{
    position: absolute;
	width: 70px;
	top: 0;
	left: 0;
	height: 70px;
}
.spatula-knife svg{
	top: 5px;
	left: 2px;
	right: 8px;
}
.categories a, .categories img{
	display: block;
}
.categories li{
    display: block;
}
.categories img{
	width: 24%;
	padding-top: 80px;
}
.categories{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
    padding-right: 100px;
}
nav a img{
	visibility: visible;
}
.search-container{
	display: block;
	position: absolute;
	bottom: 156rem;
	left: 20rem;
}
h1{
	text-align: left;
	padding-left: 10px;
	margin: 10px;
}
	
menu{
    background:rgba(255, 255, 255, 0.6);
    padding-bottom: 40px;
    position:absolute;
    width: 768px;
    height: 10%;
		
}
.details div{
	justify-content: center;
	justify-items: center;
}
.directions{
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.directions ul{
	grid-column-start: 1;
}
	.directions ol{
		grid-column-start: 2;
		line-height: 2rem;
}
.directions h2{
	grid-row-start: 1;
}
.dishes img{
    width:100%;
    right: 15px;
}
.rice, .salsa, .guac, .tortillas{
    grid-template-columns: 1fr 4fr;
    padding: 20px;

}
.dishes{
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .5fr 2fr 2fr;
}
.rice{
    grid-row-start: 2;
}
.salsa{
    grid-column-start: 2;
    grid-row-start: 2;
}
.dishes h2{
    grid-column-start: 1;
    grid-column-end: 3;
}
.guac{
    grid-column-start: 1;
    grid-row-start: 3;
}
.tortillas{
    grid-column-start: 2;
    grid-row-start: 3;
}
footer img{
	width: 30%;
	left: 5rem;
	bottom: 150px;
}
footer nav{
	position: relative;
	left: 50%;
}
footer p{
    right: 12rem;
    bottom: 100px;
    top: 8rem;
}
}
@media screen and (min-width:1280px) {
body {
	width: 1280px;
}
.nav2{
    width: 1280px;
    height: 150px;    
}
.spatula-knife{
	height: 110px;
}
.spatula-knife svg{
    top: 28px;
}
.avatar{
    left: 1150px; 
    bottom: 270px
}

.categories{
    width: 1091px;
    position: fixed;
    bottom: 25rem;
    left: 5rem;
    top: 0;
}
menu{
    display: flex;
    flex-direction: column;
    height: 43.5rem;
    width: 10%;
}
h1{
    text-align: center;
}
.search-container{
    bottom: 30rem;
}
img.taco{
    position: relative;
    width: 80%;
    left: 20%;
    top: 0;
}
.street{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header p{
    grid-column-start: 2;
}
/*header p{
    width: 50%;
    line-height: 2rem;
    position: relative;
    bottom: 48rem;
    left: 50%;
    padding: 0px;
}*/
.details{
    background-color: rgb(66, 57, 57);
    color: #7abfbf;
}
.dishes{
    display: flex;
}
footer nav{
    width: 50%;
    padding-top: 40px;
}
footer ul{
    justify-content: space-between;
}
footer li{
    flex-grow: 1 1 1 1;
}
footer img{
    width: 20%;
    padding-top: 20px;
}
}