@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*colors
#0d0d0d
#f2f2f2
#7abfbf
rgba(122, 191, 191, .5)
#eb5428
*/

html {
	background-color: rgba(122, 191, 191, .5);
}
body {
	width: 414px;
	background-color: #f2f2f2;
	margin: 0 auto;
	font-family: 'Montserrat';
}
h1 {
	text-align: center;
	padding-top: 200px;
	font-size: 40px;
	font-family: 'Bebas Neue';
}
menu{
	height: 70px;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	
}
menu li{
    font-family: 'Bebas Neue';
	flex: 410px;
	font-size: 16px;
	list-style: none;
}
li a{
	font-family: 'Bebas Neue';
    text-decoration: none;
    color: #eb5428;
}
nav a{
    font-size: 20px;
}
menu a {
	display: block;
	position: relative;
	top:30px;
	left: 22px;;
	text-decoration: none;
	color: #eb5428;
	text-align: center;
	font-size: 20px;
}
menu svg{
	position:relative;
	bottom: 30px;
	right: 45px;
	
}
img.taco{
	padding-top: 15px;
	width: 100%;
}
header p{
	padding-top: 1rem;
	padding-left: 10px;
	font-size: 16px;
	line-height: 1.5rem;
}
h2{
	font-size: 30px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	font-family: 'Bebas Neue';
}
h3{
	font-size: 25px;
	font-family: 'Bebas Neue';
}
.details div{
	display: grid;
	grid-template-rows: .1fr;
	justify-content: start;
	align-items: center;
}
.details dl{
	padding-left: 1rem;
}
.details dt{
        font-weight: bold;
	
}
dt{
	grid-column-start: 1;
	font-size: 16px;
}
dl{
    line-height: 1.5rem;
}
.details dd{
	grid-column-start: 2;
	font-size: 16px;
	padding-left: 10px;

}
ul, ol{
	padding-left: 1.5rem;
	line-height: 1.5rem;
	padding-bottom: 1rem;
}
section.ingredients ul{
	list-style:square;
}
ol{
	list-style-type: style;
	padding-right: 1rem;
}
section.dishes{
	background-color: #7abfbf;

}
footer img{
	width: 100%;
}
footer{
	background-color: white;
	font-family: 'Bebas Neue';
}

div img{
	display: block;
	position: relative;
	left: 10px;
	bottom: 20px;
	width: 100px;
}
.dishes div{
	display: grid;
	grid-template-columns: 1.75fr 4fr;
	align-items: center;
}
.dishes svg{
	position: relative;
	left: 120px;
	bottom: 30px;
}
.dishes h3{
	position: relative;
	left: 125px;
	top: 5px;
}
.dishes dt, dd{
	position: relative;
    bottom: 8px;
}
.dishes dd{
    font-weight: bold;
}
.main-nav, .dropdown{
    display: none;
}
.menu-icon{
    font-family: 'Bebas Neue';
    left: 35px;
	bottom: 0;
}
.hamburger{
	position: relative;
	right: 41px;
	bottom: 20px;
}
.nav2 label{
	position: relative;
	top: 45px;
}
.nav2{
	background: #ffffff;
    position: fixed;
	height: 60px;
	width: 300px;
	top: 0;
	padding-bottom: 40px;
	box-shadow: 1px 3px 4px rgba(132, 127, 127, 0.8);
    
}
span a{
	box-shadow: 1px 3px 4px rgba(132, 127, 127, 0.8);
}
nav a img{
    display: none;
}
nav span {
    font-family: 'Bebas Neue';
    text-decoration: none;
    font-size: 20px;
    color: #0d0d0d;
}
span a, label{
    position: relative;
    bottom: 139.75rem;
    text-decoration: none;
    color: #0d0d0d;
}
.categories li{
    visibility: hidden;
}
.search{
    display: none;
}
.search-container{
    position: relative;
    bottom: 171rem;
}

.avatar{
	text-align: center;
    bottom: 0;
	background-color: #ffffff;
	display: block;
	left: 305px;
	bottom: 332px;
	width: 109px;
	height: 30px;
	padding-top: 70px;
    
}
.avatar svg{
	position: relative;
    bottom: 65px;
}
.spatula-knife{
    background: #eb5428;
	bottom:0;
	width: 200px;
	display: block;
	left: 105px;
	height: 100px;
	bottom: 44px;
}
.spatula-knife svg{
	position: relative;
	left: 70px;
	top: 20px;
}

button{
    background-color: #eb5428;
    border: none;
    position: relative;
    right: 5px;
    top: 14px;
    height: 46px;
}
.search-container{
    position: relative;
    left: 2.25rem;
    border-color: #eb5428;
}
input{
    width: 17.5rem;
    height: 40px;
    position: relative;
    border: solid 2px #eb5428;
}
footer nav{
	width: 400px;
}
footer{
	padding-top: 50px;
}
footer ul{
	display: flex;
	flex-direction: row;
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
    align-items: center;*/
}
footer svg{
	position: relative;
	bottom: 4rem;
	left: 7px;
}
footer img{
    width: 50%;
    position: relative;
    left: 6.5rem;
	bottom: 60px;
}
footer h3{
    display: none;
}
footer p{
    text-align: center;
    position: relative;
    top: 13rem;
}
@media screen and (min-width:768px) {
	body {
		width: 768px;
	}
	.nav2{
		width: 768px;
		height: 125px;
	}
	span a{
		box-shadow: none;
	}
	.avatar{
		display: block;
		bottom: 280px;
		left: 659px;
	}
	.menu-icon{
		display: none;
	}
	.spatula-knife{
		width: 70px;
		top: 0;
		left: 0;
		height: 80px;
	}
	.spatula-knife svg{
		left: 0;
		right: 8px;
	}
	.categories{
		visibility: visible;
		z-index: 8;
	}
	nav a img{
		visibility: visible;
	}
	.search-container{
		display: blocks;
		position: relative;
		bottom: 195rem;
		left: 200px;
	}
	h1{
		text-align: left;
		padding-left: 10px;
	}
	header img{

	}
	menu{
		background:rgba(194, 189, 189, 0.2);
		padding-bottom: 40px;
	}
	.details div{
		justify-content: center;
		justify-items: center;
	}
	div .directions{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width:1280px) {
	body {
		width: 1280px;
	}
}
